@model AshaAdmin.ProductViewModel
@using AshaAdmin
<div class="main">
    <div class="breadcrumb">首頁>課程</div>
    <div class="pageHeader">
        <h2>課程列表</h2>
    </div>
    <div class="content">
        <div class="mainBlock">
            <div class="title">
                <h3>查詢條件</h3>
            </div>
            @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { @id = "indexListForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.PageSize)
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab_sty2 mb_lg">
                    <tr>
                        <th>名稱</th>
                        <td>
                            @Html.TextBoxFor(x => x.SearchParameter.Keyword)
                        </td>
                    </tr>
                    <tr>
                        <th>分類</th>
                        <td>
                            @Html.DropDownListFor(x => x.SearchParameter.Category, new SelectList(Model.Category_List, "Key", "Value"), "全部")
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">狀態</th>
                        <td>
                            @Html.DropDownListFor(x => x.SearchParameter.Status, new SelectList(SysConstants.StatusOption, "Key", "Value"), "全部")
                        </td>
                    </tr>
                </table>
            }
            <div class="btnArea">
                <a href="@Url.Action("Index")" class="bt sty2 hvr-shadow">取消</a>
                <a href="#" class="bt sty1 hvr-shadow" onclick="$('#indexListForm').submit()">查詢</a>
            </div>
            <div class="title">
                <div class="btnArea">
                    <a href="@Url.Action("Edit")" class="bt sty4 hvr-shadow">新增</a>
                    <a href="#" class="bt sty6 hvr-shadow" onclick="deleteIt('@Url.Action("Delete")');">刪除</a>
                </div>
                <div class="clr"></div>
            </div>
            <form action="" method="post" id="uForm" name="uForm">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SearchParameter.Keyword)
                @Html.HiddenFor(model => model.SearchParameter.Status)
                @Html.HiddenFor(model => model.PageIndex)
                <input type="hidden" name="STATUS" id="STATUS" value="" />
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab_sty1 mb_lg">
                    <tr>
                        <th width="51" scope="col"><input type="checkbox" id="all" name="all" onclick="selectAll();" /></th>
                        <th scope="col"><a href="#" class="order">No.</a></th>
                        <th scope="col"><a href="#" class="order">名稱</a></th>
                        <th scope="col"><a href="#" class="order">分類</a></th>
                        <th scope="col"><a href="#" class="order">狀態</a></th>
                        <th width="95" scope="col"><a href="#" class="order">修改</a></th>
                    </tr>
                    @foreach (var item in Model.List.Select((x, i) => new { Data = x, Index = i }))
                    {
                        <form name="pageForm">
                            <input type="hidden" name="PageIndex" value="1" />
                            <input type="hidden" name="cid" value="@item.Data.Id" />
                        </form>

                        <tr class="@(item.Index % 2 == 0)">
                            <td align="center">
                                <input type="checkbox" name="ids" class="ids" value="@item.Data.Id" />
                                <input value="@item.Data.Id" hidden id="partialId" />
                            </td>
                            <td align="center">@((Model.List.PageNumber - 1) * Model.List.PageSize + item.Index + 1)</td>
                            <td align="center">@Html.DisplayFor(x => item.Data.Product)</td>
                            <td align="center">@Html.DisplayFor(x => item.Data.Category_Name)</td>
                            <td align="center">@Html.DisplayFor(x => SysConstants.StatusOption[item.Data.Status])</td>
                            <td align="center">
                                <div class="btnArea">
                                    <a href="@Url.Action("Edit", new { id = item.Data.Id })" class="bt sty1 hvr-shadow styEdit">編輯內容</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </form>
            <!-- 分頁 -->
            <div class="page">
                @Html.Partial("_Paging", Model.List)
            </div>
        </div>
    </div>
</div>

